PatchManager
{
	// Required settings.  
	// srcPath should use forward slashes, and include the full file name.  srcPath should be in a directory 
	// called ".../PatchManager/PluginData"
	modName = Modular Fuel Tank Expansion
	patchName = MFTE-TunedPartMass
	srcPath = /MunarIndustries/PatchManager/PluginData/TunedPartMass.cfg
	shortDescr = Tuned Part Masses

	// Optional, but recommended
	longDescr = Part masses tuned to be more realistic


	//// Optional entries here

	// dependencies, only show this patch if these specified mods are available
	// List either the directory of the mod (as show by ModuleManager), or the 
	// mod DLL (as show by ModuleManager)
	//dependencies = 

	// Path to icon, if desired.  Can be a flag
	#icon = 

	// Author's name, if desired
	author = Linuxgurugamer 
}
